
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-success border-bottom shadow-sm">
  <h5 class="my-1 mr-md-auto font-weight-normal text-light"><i class="fas fa-golf-ball"></i> Golf League Info</h5>
  <nav class="my-4 my-md-0 mr-md-3">
    <a class="p-2 text-light" href="#">Create League</a>
    <a class="p-2 text-light" href="#">Login</a>
  </nav>
</div>
<div class="container">
  <ul class="nav nav-tabs">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle text-dark" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Select League</a>
      <div class="dropdown-menu">
        <a class="dropdown-item text-dark" href="#">League 1</a>
        <a class="dropdown-item text-dark" href="#">League 2</a>
        <a class="dropdown-item text-dark" href="#">League 3</a>
        <a class="dropdown-item text-dark" href="#">League 4</a>
        <a class="dropdown-item text-dark" href="#">League 5</a>
      </div>
    </li>
    <li class="nav-item nav-item-right">
      <a class="nav-link text-success" data-toggle="tab" href="#">Stats</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-success" data-toggle="tab" href="#">Standings</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-success" data-toggle="tab" href="#">Weekly Schedule</a>
    </li>
  </ul>
  <div>
    <form style="margin-top: 4%">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Email</label>
          <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Password</label>
          <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
        </div>
      </div>
      <div class="form-group">
        <label for="inputAddress">Address</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
      </div>
      <div class="form-group">
        <label for="inputAddress2">Address 2</label>
        <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputCity">City</label>
          <input type="text" class="form-control" id="inputCity">
        </div>
        <div class="form-group col-md-4">
          <label for="inputState">State</label>
          <select id="inputState" class="form-control">
            <option selected>Choose...</option>
            <option>...</option>
          </select>
        </div>
        <div class="form-group col-md-2">
          <label for="inputZip">Zip</label>
          <input type="text" class="form-control" id="inputZip">
        </div>
      </div>
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck">
          <label class="form-check-label" for="gridCheck">
            Check me out
          </label>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
  </div>
</div>